body {
    font-family: Arial, sans-serif;
    background-color: #F9f9f9;
    color: #1b4a3f;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.menu-abrir {
    cursor: pointer;
}

.menu-abrir i {
    color: #005230ec;
    font-size: 30px;
    padding-left: 8px;
}

.menu-abrir i:hover {
    color: #00bb6dec;
    transition: 0.5s;
}

.menu-mobile {
    background-color: #005230ec;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 100%;
}

nav.mobile ul {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

nav.mobile a {
    color: #ead8fc;
    padding: 30px 8%;
    list-style-type: none;
    text-decoration: none;
}

nav.mobile a:hover {
    color: #ff9100;
    transition: 0.3s;
}

.menu-fechar {
    padding: 20px;
}

.menu-fechar i {
    font-size: 30px;
    color: #fff;
}

.menu-fechar i:hover {
    cursor: pointer;
    color: #ff9900;
    transition: 0.5s;
}

.logo img {
    width: 150px;
}

.user img {
    width: 35px;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header p {
    font-size: 14px;
    margin: 0;
}

.header i {
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
}

.search-bar i {
    margin-right: 10px;
    font-size: 18px;
}

.search-bar:focus-within #search-results {
    display: block;
}

/* Add some basic styling to make it look nice */
#search-input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

#search-results {
    list-style: none;
    padding: 10px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    width: 100%px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100;
}

#search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

#search-results li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}