

@font-face {
	font-family: gojali;
	src: url(../fontes/gojali/TTF/Gojali-Regular.ttf);
}

@font-face {
	font-family: rosemask;
	src: url(../fontes/rose_mask/RoseMask_Font/RoseMask-TTF-OTF-WOFF-WOFF2/RoseMask.ttf);
}

.gojali-regular {
	font-family: 'gojali', system-ui;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.rosemask-regular {
	font-family: 'rosemask', system-ui;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

/* Estilo base para todas as mensagens */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 16px;
}

/* Estilo para mensagens de sucesso */
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

/* Estilo para mensagens de erro */
.alert-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

/* Estilo para mensagens de aviso */
.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

/* Estilo para mensagens de informação */
.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

ul.messages:empty {
	display: none;
}
