<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/landingPage.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Cultiva facil</title>
</head>

<body class="gojali-regular">
    <div class="container">
        <img src="img/Logomarca Vertical.svg" alt="">
        <button class="button">
            Entrar
        </button>
    </div>
</body>

</html>