<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/recuperar-senha.css">
    <title>Recuperar senha - Cultiva Fácil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recuperar-senha.css' %}">
    <script src="{% static 'js/recuperar-senha.js' %}"></script>
</head>

<body class="gojali-regular">
    <header>
        <h1>Esqueci minha senha</h1>
    </header>
    <main>

        <form id="forgot-password-form">

            <div class="email-recuperacao">
                <label for="email">Digite seu e-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <button type="submit">Enviar Link de Redefinição</button>

        </form>
        <p id="error-message"></p>
    </main>
    <footer>
        <p>&copy; 2024 Cultiva Fácil</p>
    </footer>

</body>

</html>