<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/redefine-senha.css">
    <title>Redefinir senha - Cultiva Fácil</title>
</head>

<body class="gojali-regular">
    <div class="logo">
        <a href="landingPage.html"><img src="img/Logomarca Horizontal.svg" alt=""></a>
    </div>
    <main>
        <h1>
            Redefinir Senha
        </h1>
        <form id="redefine-password-form">
            <div class="nova-senha">
                <label for="new-password">Nova senha:</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="confirmar-senha">
                <label for="confirm-password">Confirmar senha:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">Redefinir senha</button>
        </form>
        <p id="error-message"></p>
    </main>
    <footer>
        <p>&copy; 2024 Cultiva Fácil</p>
    </footer>

    <script src="js/redefine-senha.js"></script>
</body>

</html>