* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b4a3f;
    height: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-left: 5vw;
}

.header-container h1 {
    color: #ffffff;
    font-size: 4rem;
    margin: 2rem 4rem;
}

.header-container img {
    margin-top: 5vh;
    width: 75%;
}
 
/* Container Styles */
.container {
    margin: 20px auto;
    padding: 2rem;
    background-color: #1C6D4F;
    border: 0.1rem solid #ffffffd4;
    box-shadow: 1rem 1rem 1rem #00000036;
    border-radius: 10px;
    width: 25rem;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form h2 {
    color: #fff;
    margin-bottom: 40px;
}

form p {
    font-size: x-small;
    margin-bottom: 1rem;
    color: #ffffff;
}

form p a{
    color: #ffffff;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffb930;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

input[type="submit"]:hover {
    background-color: #d9d9d9;
    color: #1b4a3f;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {

    .horizontal {
        flex-direction: column;

    }
    .container {
        margin: 20px auto;
        padding: 10px;
    }

    .header-container {
        margin-bottom: 1rem;
    }

    .header-container h1 {
        font-size: 2.75rem;
        margin: 0rem 0rem;
    }

    .header-container img {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    .container {
        margin: 10px auto;
        padding: 5px;
    }

    .header-container {
        width: 80vw;
        margin-left: 0;
        margin-bottom: 5rem;
    }

    .header-container h1 {
        font-size: 2rem;
    }
}