<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Cadastro - Cultiva Fácil</title>
</head>

<body class="gojali-regular">

    <div class="container">
        <div class="logo">
            <a href="landingPage.html"><img src="img/Logomarca Horizontal.svg" alt=""></a>
        </div>
        <h1>
            Cadastro
        </h1>
        <form>

            <div class="form_grid">

                <div>
                    <label for="name">
                        Nome completo
                    </label>
                    <input id="name" name="name" type="text" placeholder="Digite seu nome" />
                </div>

                <div>
                    <label for="numero">
                        Número de telefone
                    </label>
                    <input id="numero" name="numero" type="text" placeholder="Digite seu número de telefone" />
                </div>

                <div>
                    <label for="email">
                        E-mail
                    </label>
                    <input id="email" name="email" type="email" placeholder="Digite seu E-mail" />
                </div>

                <div>
                    <label for="email">
                        Confirme seu e-mail
                    </label>
                    <input id="email" name="email" type="email" placeholder="Digite seu E-mail novamente" />
                </div>

                <div>
                    <label for="password">
                        Senha
                    </label>
                    <input id="password" name="password" type="password" placeholder="Digite sua senha" />
                </div>

                <div>
                    <label for="password">
                        Confirme sua senha
                    </label>
                    <input id="password" name="password" type="password" placeholder="Digite sua senha novamente" />
                </div>
            </div>

            <button type="submit" class="submit">
                Cadastrar-se
            </button>
        </form>
        <div class="register-link">
            Já tem uma conta?
            <a href="login.html">
                Clique aqui
            </a>
        </div>
    </div>

</body>

</html>