<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Cadastro - Cultiva Fácil</title>
</head>

<body class="gojali-regular">

    <div class="horizontal">
        <div class="header-container">
            <h1>Cadastre-se conosco!</h1>
            <img src="{% static 'img/undraw_farm_girl_dnpe (3).svg' %}" alt="">
        </div>

        <div class="container">
            <form>
                <h2>Cadastro</h2>
                <input type="text" id="username" name="username" placeholder="Nome completo" required><br><br>
                <input type="email" id="email" name="email" placeholder="Email" required><br><br>
                <input type="password" id="password" name="password" placeholder="Senha" required><br><br>
                <p>Já está cadastrado? <a href="{% url 'login' %}">Clique aqui</a></p>
                <input type="submit" value="Inscrever-se">
            </form>
        </div>
    </div>

</body>

</html>