body {
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
}

.container {
	width: 70vw;
	text-align: center;
	padding: 20px;
}

.logo {
	margin-top: 1.3rem;
	margin-bottom: 6rem;
	/* Reduced margin to move the image upwards */
}

.logo img {
	width: 150px;
}

h1 {
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 20px;
	color: #1b4a3f;
}

label {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-size: 1.125rem;
	font-weight: bolder;
	color: #1b4a3f;
}

input[type='email'],
input[type='password'],
input[type='text'] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #1b4a3f;
	border-radius: 5px;
	font-size: 1.125rem;
}

input::placeholder {
	color: #999999;
}

.submit {
	width: 25%;
	margin: 0 auto;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #1b4a3f;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1.125rem;
	font-weight: bolder;
	cursor: pointer;
}

button:hover {
	background-color: #d9d9d9;
	color: #1b4a3f;
}

.register-link {
	margin-top: 20px;
	font-size: 0.875rem;
	font-weight: bolder;
	color: #1b4a3f;
}

@media only screen and (min-width: 1024px) {
	.form_grid {
		width: 70vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* Divide the container into two equal columns */
		gap: 40px;
		/* Add a gap between the columns */
		text-align: center;
		padding: 20px;
	}

	.logo {
		margin: 0 auto;
	}

	h1 {
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	body {
		overflow-y: scroll;
		min-height: fit-content;
	}

	.container {
		width: 75%;
		display: grid;
		place-items: center;
	}

	button {
		width: 109%;
	}

	.submit {
		width: 75%;
	}

	.register-link {
		font-size: smaller;
	}

	.logo {
		margin-bottom: 1.5rem;
	}
}
